.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.winner {
  font-size: 2.25rem;
  margin-bottom: 2rem;
  color: #00ffff;
}
